.card{
   
    position: absolute;
    left: 380px;
    top:150px;
    height: 450px;
    width: 500px;
    
}
h4{
    text-align: center;
    color: blue;
}
button{
    border-radius: 10px;
    margin: 10px;
    width: 150px;
}